.landing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 40vw 40vw 10vw;
      grid-template-columns: 10vw 40vw 40vw 10vw;
  -ms-grid-rows: 10vh 60vh 30vh 150vh;
      grid-template-rows: 10vh 60vh 30vh 150vh;
      grid-template-areas: ". . . signIn" ". title figure ." ". text text ." ". . . .";
  overflow: hidden;
}

.landing__signIn {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: signIn;
  border-radius: 10px;
  font-size: 22px;
  margin: 2rem 0 0 -4rem;
  width: 108px;
  height: 48px;
  background-color: #33312E;
  border: #33312E;
  color: #FEF9EF;
}

.landing__signIn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.landing__signIn:hover {
  background-color: #403e3a;
  cursor: pointer;
}

.landing__mainText {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: title;
  width: 40rem;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing__mainText h1 {
  font-weight: bold;
  font-size: 6.66rem;
  margin: 3rem 0;
}

.landing__enter {
  margin-right: 14rem;
  border-radius: 10px;
  color: #FEF9EF;
  background-color: #DB5461;
  border: #DB5461;
  width: 235.67px;
  height: 61px;
  font-weight: bold;
  font-size: 40px;
}

.landing__enter:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.landing__enter:hover {
  background-color: #df6974;
  cursor: pointer;
}

.landing__figure {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: figure;
  margin-left: 150px;
  width: 29rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.landing__infoText {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing__infoText h3 {
  font-weight: 500;
  font-size: 1.66rem;
  line-height: 29px;
  text-align: center;
}

.landing__hiddenArrow {
  visibility: hidden;
  -webkit-transition: visibility 0.3s;
  transition: visibility 0.3s;
}

@media only screen and (max-width: 768px) {
  .landing {
    -ms-grid-columns: 10vw 80vw 10vw;
        grid-template-columns: 10vw 80vw 10vw;
    -ms-grid-rows: 10vh 40vh 20vh 30vh 150vh;
        grid-template-rows: 10vh 40vh 20vh 30vh 150vh;
        grid-template-areas: ". . signIn " ". title title " ". figure ." ". text ." ". . .";
  }
  .landing__signIn {
    margin: 3rem 0 0 -10rem;
  }
  .landing__figure {
    width: 23rem;
    margin-left: -4rem;
    justify-self: flex-end;
  }
  .landing__mainText {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 100%;
  }
  .landing__mainText h1 {
    font-size: 7rem;
  }
  .landing__enter {
    margin-right: 0;
  }
}
/*# sourceMappingURL=landing.css.map */