@import "../../../app_styles/variables";

.landing {
    display: grid;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 10vh 60vh 30vh 150vh;
    grid-template-areas:
        ". . . signIn"
        ". title figure ."
        ". text text ."
        ". . . .";

    overflow: hidden;
    &__signIn {
        grid-area: signIn;
        border-radius: 10px;
        font-size: 22px;

        margin: 2rem 0 0 -4rem;
        width: 108px;
        height: 48px;

        background-color: $priColor;
        border: $priColor;
        color: $secColor;

        &:focus {
            outline: none;
            box-shadow: none;
        }
        &:hover {
            background-color: lighten($priColor, 5%);
            cursor: pointer;
        }
    }

    &__mainText {
        grid-area: title;

        width: 40rem;

        margin-bottom: 4rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-weight: bold;
            font-size: 6.66rem;
            margin: 3rem 0;
        }
    }

    &__enter {
        margin-right: 14rem;

        border-radius: 10px;

        color: $secColor;
        background-color: $triColor;
        border: $triColor;

        width: 235.67px;
        height: 61px;

        font-weight: bold;
        font-size: 40px;

        &:focus {
            outline: none;
            box-shadow: none;
        }
        &:hover {
            background-color: lighten($triColor, 5%);
            cursor: pointer;
        }
    }

    &__figure {
        grid-area: figure;

        margin-left: 150px;
        // margin-bottom:-50px;

        width: 29rem;

        align-self: flex-end;
    }

    &__infoText {
        grid-area: text;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            font-weight: 500;
            font-size: 1.66rem;
            line-height: 29px;
            text-align: center;
        }
    }

    &__hiddenArrow{
        visibility:hidden;
        transition: visibility 0.3s;
    }
}

//responsive

@media only screen and (max-width: 768px) {
    .landing {
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 10vh 40vh 20vh 30vh 150vh;
        grid-template-areas:
            ". . signIn "
            ". title title "
            ". figure ."
            ". text ."
            ". . .";

        &__signIn {
            margin: 3rem 0 0 -10rem;
        }

        &__figure {
            width: 23rem;
            margin-left: -4rem;
            justify-self: flex-end;
        }

        &__mainText {
            align-items: flex-start;
            max-width: 100%;

            h1 {
                font-size: 7rem;
            }
        }

        &__enter {
            margin-right: 0;
        }
    }
}
