@import "../../../app_styles/variables";


//unopened cards

.recipePanel {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2.5fr;
    grid-template-areas:
        "title mainContent"
        "theList mainContent";

    &__title {
        grid-area: title;

        display: flex;
        justify-content: center;
        align-items: center;


        background-color: $priColor;
        h1 {
            width: 14rem;
            font-size: 2.5rem;
            text-align: center;
            color: $secColor;
        }

        &__back {
            position: absolute;
            left: 13px;
            top: 5px;

            img {
                width: 1rem;
                height: auto;
            }
        }
    }

    &__list {
        grid-area: theList;

        background-color: $triColor;

        padding: 0 2rem;

        &__title {
            color: $secColor;
            text-align: center;

            font-weight: 500;
            font-size: 1.8rem;
            text-decoration-line: underline;
        }

        ul {
            list-style: none;
            padding: 0 0.3rem;
            li {
                font-weight: 500;
                font-size: 1rem;
                color: $secColor;
                padding: 2px 0;
                text-align: center;
            }
        }
    }

    &__content {
        grid-area: mainContent;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "recipe notes"
            "tech concept";

        justify-items: center;
        align-items: center;

        padding: 3rem;
        row-gap: 5rem;
        column-gap: 5rem;
        margin-top: -1rem;

        // cause is Link as the div
        a {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 0.8rem;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);

            &:hover {
                cursor: pointer;
            }

            h3 {
                font-size: 2rem;
            }
        }

        &__ingredients{
            display: none !important
        }

        &__instruct {
            grid-area: recipe;
        }

        &__notes {
            grid-area: notes;
        }

        &__technique {
            grid-area: tech;
        }

        &__concept {
            grid-area: concept;
        }
    }
}

// the detail/opened cards

//same across all cards
@mixin contentScreen() {
    grid-area: mainContent;
    width: 90%;
    margin: 1rem auto;

    padding: 1rem;

    box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);

    border-radius: 0.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: scroll;

    position: relative;

    &__header{
        margin-bottom: 3rem;
        text-decoration: underline;
    }

    &__back {
       text-decoration: none;
        color: $triColor;
        padding:1.6rem;

        position: absolute;
        left: 0px;
        top: 0px;

        font-weight: bolder;
        font-size: 1.5rem;
    }

    &__fig{
        position: fixed;
        bottom: 3px;
        right: 5px;
        height: 5rem;
    }
}


//specific stylings
.recipeIngredients{
    @include contentScreen();
    height: 90%;
    padding: 3rem 1rem 7rem 1rem;
  
    &__title{
        font-size: 1.5rem;
    }

    ul{
        list-style: none;
        padding:0;
        font-size: 1.2rem;
        text-align: center;
    }
}

.recipeDetail {
    @include contentScreen();
    height: 90%;


    &__header {
        margin-bottom: 3rem;
    }

    &__video {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 2rem;
        height: 50vh;
        border: none;
    }

    &__notes {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 3rem;
        padding: 0 1rem;

        div{
            width:50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            text-decoration: underline;
        }

        ul {
            list-style:upper-roman;
            padding: 0 2rem;
            line-height: 1.7rem;
        }
    }

}

.recipeNotes {
    @include contentScreen();
    height: 90%;

    &__content{
        ul{
            list-style: upper-roman;
            list-style-position: inside;
            padding:0;
            text-align: center;
            line-height: 1.9rem;
        }
    }
  
}

.recipeTech {
    @include contentScreen();
    height: 90%;


    &__video{
        border: none;
        padding: 0 3rem 1rem 3rem;
        margin: 0 auto;
        width: 80%;
        height: 50vh;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 0 4rem;
        
        list-style: none;
        
        li{
            padding: 0 3rem;
            margin-bottom: 1rem;
        }
    }
   
   
}

.recipeConcept {
    @include contentScreen();
    height: 90%;
  
    &__video{
        border:none;
        padding: 0 0 1.5rem 0;
        width: 80%;
        margin: 0 auto;
        height: 50vh;
    }

    &__content{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-self: center;
        width:80%;
        padding: 0 1rem;
    }

}


//responsive
@media only screen and (max-width: 768px) {
    .recipePanel{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 10fr;
        grid-template-areas:
            "title"
            "mainContent";

    &__content {
        grid-area: mainContent;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr,5);
        grid-template-areas:
            'ingred'
            "recipe"
            "notes"
            "tech"
            "concept";

        padding: 0.5rem;
        row-gap: 2rem;
        column-gap: 2rem;
        margin: 0;

        a{
            width: 60%;
            height: 30vh;
        }

        &__ingredients{
            display:flex !important;
            grid-area: ingred;
        }

    }

    &__title {
        height: 18rem;
        margin-bottom: 3rem;


        &__back {
            position: absolute;
            left: 20px;
            top: 15px;
        }
    }

    &__list{
        display: none;
    }

    }

    .recipeDetail, .recipeNotes, .recipeTech, .recipeConcept, .recipeIngredients{
        height: fit-content;
      
    }


}

@media only screen and (max-width: 600px) {
    .recipePanel{
        &__content{
            a{
                width: 80%;
            }

        }
    }

    .recipeNotes{
        padding-bottom: 6rem;
    }

    .recipeTech{
        padding-bottom: 2rem;

        &__video{
            height: 30vh;
        }
    }

    .recipeConcept{
        padding-bottom: 2rem;

        &__video{
            height: 40vh;
        }

    }
}
