.recipePanel {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: 1fr 2.5fr;
      grid-template-rows: 1fr 2.5fr;
      grid-template-areas: "title mainContent" "theList mainContent";
}

.recipePanel__title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #33312E;
}

.recipePanel__title h1 {
  width: 14rem;
  font-size: 2.5rem;
  text-align: center;
  color: #FEF9EF;
}

.recipePanel__title__back {
  position: absolute;
  left: 13px;
  top: 5px;
}

.recipePanel__title__back img {
  width: 1rem;
  height: auto;
}

.recipePanel__list {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: theList;
  background-color: #DB5461;
  padding: 0 2rem;
}

.recipePanel__list__title {
  color: #FEF9EF;
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.recipePanel__list ul {
  list-style: none;
  padding: 0 0.3rem;
}

.recipePanel__list ul li {
  font-weight: 500;
  font-size: 1rem;
  color: #FEF9EF;
  padding: 2px 0;
  text-align: center;
}

.recipePanel__content {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: mainContent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "recipe notes" "tech concept";
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  row-gap: 5rem;
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
  margin-top: -1rem;
}

.recipePanel__content a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.8rem;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);
}

.recipePanel__content a:hover {
  cursor: pointer;
}

.recipePanel__content a h3 {
  font-size: 2rem;
}

.recipePanel__content__ingredients {
  display: none !important;
}

.recipePanel__content__instruct {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: recipe;
}

.recipePanel__content__notes {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: notes;
}

.recipePanel__content__technique {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: tech;
}

.recipePanel__content__concept {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: concept;
}

.recipeIngredients {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: mainContent;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  position: relative;
  height: 90%;
  padding: 3rem 1rem 7rem 1rem;
}

.recipeIngredients__header {
  margin-bottom: 3rem;
  text-decoration: underline;
}

.recipeIngredients__back {
  text-decoration: none;
  color: #DB5461;
  padding: 1.6rem;
  position: absolute;
  left: 0px;
  top: 0px;
  font-weight: bolder;
  font-size: 1.5rem;
}

.recipeIngredients__title {
  font-size: 1.5rem;
}

.recipeIngredients ul {
  list-style: none;
  padding: 0;
  font-size: 1.2rem;
  text-align: center;
}

.recipeDetail {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: mainContent;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  position: relative;
  height: 90%;
}

.recipeDetail__header {
  margin-bottom: 3rem;
  text-decoration: underline;
}

.recipeDetail__back {
  text-decoration: none;
  color: #DB5461;
  padding: 1.6rem;
  position: absolute;
  left: 0px;
  top: 0px;
  font-weight: bolder;
  font-size: 1.5rem;
}

.recipeDetail__header {
  margin-bottom: 3rem;
}

.recipeDetail__video {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
  height: 50vh;
  border: none;
}

.recipeDetail__notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
  padding: 0 1rem;
}

.recipeDetail__notes div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipeDetail__notes h1 {
  text-decoration: underline;
}

.recipeDetail__notes ul {
  list-style: upper-roman;
  padding: 0 2rem;
  line-height: 1.7rem;
}

.recipeNotes {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: mainContent;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  position: relative;
  height: 90%;
}

.recipeNotes__header {
  margin-bottom: 3rem;
  text-decoration: underline;
}

.recipeNotes__back {
  text-decoration: none;
  color: #DB5461;
  padding: 1.6rem;
  position: absolute;
  left: 0px;
  top: 0px;
  font-weight: bolder;
  font-size: 1.5rem;
}

.recipeNotes__content ul {
  list-style: upper-roman;
  list-style-position: inside;
  padding: 0;
  text-align: center;
  line-height: 1.9rem;
}

.recipeTech {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: mainContent;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  position: relative;
  height: 90%;
}

.recipeTech__header {
  margin-bottom: 3rem;
  text-decoration: underline;
}

.recipeTech__back {
  text-decoration: none;
  color: #DB5461;
  padding: 1.6rem;
  position: absolute;
  left: 0px;
  top: 0px;
  font-weight: bolder;
  font-size: 1.5rem;
}

.recipeTech__video {
  border: none;
  padding: 0 3rem 1rem 3rem;
  margin: 0 auto;
  width: 80%;
  height: 50vh;
}

.recipeTech__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 4rem;
  list-style: none;
}

.recipeTech__content li {
  padding: 0 3rem;
  margin-bottom: 1rem;
}

.recipeConcept {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: mainContent;
  width: 90%;
  margin: 1rem auto;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 0.8rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  position: relative;
  height: 90%;
}

.recipeConcept__header {
  margin-bottom: 3rem;
  text-decoration: underline;
}

.recipeConcept__back {
  text-decoration: none;
  color: #DB5461;
  padding: 1.6rem;
  position: absolute;
  left: 0px;
  top: 0px;
  font-weight: bolder;
  font-size: 1.5rem;
}

.recipeConcept__video {
  border: none;
  padding: 0 0 1.5rem 0;
  width: 80%;
  margin: 0 auto;
  height: 50vh;
}

.recipeConcept__content {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: center;
  width: 80%;
  padding: 0 1rem;
}

@media only screen and (max-width: 768px) {
  .recipePanel {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 3fr 10fr;
        grid-template-rows: 3fr 10fr;
        grid-template-areas: "title" "mainContent";
  }
  .recipePanel__content {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: mainContent;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (5)[1fr];
        grid-template-rows: repeat(1fr, 5);
        grid-template-areas: 'ingred' "recipe" "notes" "tech" "concept";
    padding: 0.5rem;
    row-gap: 2rem;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
    margin: 0;
  }
  .recipePanel__content a {
    width: 60%;
    height: 30vh;
  }
  .recipePanel__content__ingredients {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: ingred;
  }
  .recipePanel__title {
    height: 18rem;
    margin-bottom: 3rem;
  }
  .recipePanel__title__back {
    position: absolute;
    left: 20px;
    top: 15px;
  }
  .recipePanel__list {
    display: none;
  }
  .recipeDetail, .recipeNotes, .recipeTech, .recipeConcept, .recipeIngredients {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media only screen and (max-width: 600px) {
  .recipePanel__content a {
    width: 80%;
  }
  .recipeNotes {
    padding-bottom: 6rem;
  }
  .recipeTech {
    padding-bottom: 2rem;
  }
  .recipeTech__video {
    height: 30vh;
  }
  .recipeConcept {
    padding-bottom: 2rem;
  }
  .recipeConcept__video {
    height: 40vh;
  }
}
/*# sourceMappingURL=recipe.css.map */