@import "../../../app_styles/variables";

.chooseRecipe {
    overflow: hidden;

    display: grid;
    // grid-template-columns: 1fr 5fr 5fr 1fr;
    // grid-template-rows: min(1fr) 4fr 4fr;
    grid-template-columns: 10vw 40vw 40vw 10vw;
    grid-template-rows: 40vh 60vh;
    grid-template-areas:
        "day mainContent mainContent ."
        ". cardOne cardTwo .";

    &__cardOne {
        grid-area: cardOne;

        width: 38vw;
        height: 90%;
        background-color: $priColor;

        border-radius: 1.5rem;
        margin: 1rem;


        div {
            margin-top: 4rem;
        }

        &__title {
            color: $secColor;

            width: 14rem;
            font-weight: bold;
            font-size: 2.5rem;
            text-align: center;

            margin: 0 auto;
        }

        &__header {
            color: $secColor;
            font-weight: 700;
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 0.5rem;
        }

        &__desc {
            color: $secColor;
            text-align: center;
        }
    }

    &__cardTwo {
        grid-area: cardTwo;
        width: 38vw;
        height: 90%;
        background-color: $triColor;

        border-radius: 1.5rem;
        margin: 1rem;

        div {
            margin-top: 4rem;
        }

        &__title {
            color: $secColor;

            width: 14rem;
            font-weight: bold;
            font-size: 2.5rem;
            text-align: center;

            // because created a box (by using width, center in other method), text align is for within the box
            margin: 0 auto;
        }

        &__header {
            color: $secColor;
            font-weight: 700;
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 0.5rem;
        }

        &__desc {
            color: $secColor;
            text-align: center;
        }
    }

    &__day {
        grid-area: day;

        width: 8.5rem;
        height: 8.5rem;
        border-radius: 50%;

        margin: 1rem 0 0 1rem;

        background-color: $triColor;

        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
            background-color: lighten($triColor, 5%);
        }

        h3 {
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 2.4rem;

            text-align: center;
            width: 4rem;
            height: 5rem;
            margin: 0;
            color: $secColor;
        }
    }

    &__nav {
        position: absolute;
        top: 1.5rem;
        right: 2rem;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &__home {
            border-radius: 0.8rem;
            font-size: 1.5rem;
            width: 7rem;
            height: 3.5rem;

            background-color: $triColor;
            border: $triColor;
            color: $secColor;

            &:focus {
                outline: none;
                box-shadow: none;
            }
            &:hover {
                background-color: lighten($triColor, 5%);
                cursor: pointer;
            }
        }

        &__signIn {
            margin-right: 3rem;

            border-radius: 0.8rem;
            font-size: 1.5rem;
            width: 7rem;
            height: 3.5rem;

            background-color: $priColor;
            border: $priColor;
            color: $secColor;

            &:focus {
                outline: none;
                box-shadow: none;
            }
            &:hover {
                background-color: lighten($priColor, 5%);
                cursor: pointer;
            }
        }
    }

    &__mainContent {
        grid-area: mainContent;
    }

    &__title {
        font-size: 3rem;
        font-weight: bolder;

        margin-top: 3rem;
        padding-left: 6rem;
    }

    &__tech {
        margin-top: 1rem;
    }
}

.dayTech {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__no {
        min-width: 3.7rem;
        min-height: 3.7rem;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: $triColor;
        color: $secColor;

        font-size: 2.8rem;
        border-radius: 0.8rem;

        margin: 1rem 1rem;
    }

    &__desc {
        font-weight: bold;
        font-size: 2rem;
        margin: 1rem 1rem;
    }
}





//mix in for all choose a day circles
@mixin dayCircle($left, $top){
    position: absolute;
    width: 10rem;
    height: 10rem;

    left: $left;
    top: $top;

    background-color: $triColor;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        background-color: lighten($triColor, 5%);
    }

    h3 {
        font-weight: bold;
        font-size: 2rem;
        width: 4rem;
        height: 5rem;
        color: $secColor;
    }

}



.changeDayPop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: whitesmoke;
        opacity: 0.8;
        z-index: 999;
    }

    &__backBtn {
        position: absolute;

        padding: 2rem;

        z-index: 1001;

        &:hover {
            cursor: pointer;
        }
    }

    &__backCircle {
        position: absolute;
        width: 10rem;
        height: 10rem;
        left: -3.8rem;
        top: -4rem;

        background-color: $triColor;
        border-radius: 50%;
    }

    
    &__dayOne {
        @include dayCircle(10vw, 9vh)
    }

    &__dayTwo {
        @include dayCircle(25vw, 9vh)
    }


    &__note {
        position: absolute;
        right: 5rem;
        bottom: 4rem;

        font-weight: bold;
        font-size: 1.5rem;
        width: 35rem;
    }
}



@media only screen and (max-width: 768px) {
    .chooseRecipe {
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 15vh 25vh 30vh 30vh;
        grid-template-areas:
            "day . ."
            ". mainContent ."
            " . cardOne ."
            ". cardTwo .";

        &__cardOne {
            width: 100%;

            div {
                margin-top: 0.2rem;
                height: 90%;
                overflow: hidden;
            }
        }

        &__cardTwo {
            width: 100%;

            div {
                margin-top: 0.2rem;
                height: 90%;
                overflow: hidden;
            }
        }

        &__mainContent {
            margin-top: -1rem;
        }

        &__title {
            margin: 0;
        }
    }

    .dayTech {
        &__desc {
            font-size: 1.5rem;
        }
    }

    .changeDayPop {
        &__dayOne{
            @include dayCircle(10vw, 8.5vh)
        }

        &__dayTwo{
            @include dayCircle(40vw, 9vh)
        }
    }
    

}

@media only screen and (max-width: 600px) {
    .chooseRecipe {
        &__nav {
            &__signIn {
                font-size: 2rem;
                width: 9rem;
                height: 4.5rem;
            }

            &__home {
                font-size: 2rem;
                width: 9rem;
                height: 4.5rem;
            }
        }

        &__cardOne {
            div {
                margin-top: 1rem;
            }
        }

        &__cardTwo {
            div {
                margin-top: 1rem;
            }
        }
    }
}
