.chooseRecipe {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vw 40vw 40vw 10vw;
      grid-template-columns: 10vw 40vw 40vw 10vw;
  -ms-grid-rows: 40vh 60vh;
      grid-template-rows: 40vh 60vh;
      grid-template-areas: "day mainContent mainContent ." ". cardOne cardTwo .";
}

.chooseRecipe__cardOne {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cardOne;
  width: 38vw;
  height: 90%;
  background-color: #33312E;
  border-radius: 1.5rem;
  margin: 1rem;
}

.chooseRecipe__cardOne div {
  margin-top: 4rem;
}

.chooseRecipe__cardOne__title {
  color: #FEF9EF;
  width: 14rem;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
}

.chooseRecipe__cardOne__header {
  color: #FEF9EF;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.chooseRecipe__cardOne__desc {
  color: #FEF9EF;
  text-align: center;
}

.chooseRecipe__cardTwo {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: cardTwo;
  width: 38vw;
  height: 90%;
  background-color: #DB5461;
  border-radius: 1.5rem;
  margin: 1rem;
}

.chooseRecipe__cardTwo div {
  margin-top: 4rem;
}

.chooseRecipe__cardTwo__title {
  color: #FEF9EF;
  width: 14rem;
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
}

.chooseRecipe__cardTwo__header {
  color: #FEF9EF;
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.chooseRecipe__cardTwo__desc {
  color: #FEF9EF;
  text-align: center;
}

.chooseRecipe__day {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: day;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 50%;
  margin: 1rem 0 0 1rem;
  background-color: #DB5461;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chooseRecipe__day:hover {
  cursor: pointer;
  background-color: #df6974;
}

.chooseRecipe__day h3 {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: center;
  width: 4rem;
  height: 5rem;
  margin: 0;
  color: #FEF9EF;
}

.chooseRecipe__nav {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.chooseRecipe__nav__home {
  border-radius: 0.8rem;
  font-size: 1.5rem;
  width: 7rem;
  height: 3.5rem;
  background-color: #DB5461;
  border: #DB5461;
  color: #FEF9EF;
}

.chooseRecipe__nav__home:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.chooseRecipe__nav__home:hover {
  background-color: #df6974;
  cursor: pointer;
}

.chooseRecipe__nav__signIn {
  margin-right: 3rem;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  width: 7rem;
  height: 3.5rem;
  background-color: #33312E;
  border: #33312E;
  color: #FEF9EF;
}

.chooseRecipe__nav__signIn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.chooseRecipe__nav__signIn:hover {
  background-color: #403e3a;
  cursor: pointer;
}

.chooseRecipe__mainContent {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: mainContent;
}

.chooseRecipe__title {
  font-size: 3rem;
  font-weight: bolder;
  margin-top: 3rem;
  padding-left: 6rem;
}

.chooseRecipe__tech {
  margin-top: 1rem;
}

.chooseRecipe__fig {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.dayTech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dayTech__no {
  min-width: 3.7rem;
  min-height: 3.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DB5461;
  color: #FEF9EF;
  font-size: 2.8rem;
  border-radius: 0.8rem;
  margin: 1rem 1rem;
}

.dayTech__desc {
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 1rem;
}

.changeDayPop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.changeDayPop__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: whitesmoke;
  opacity: 0.8;
  z-index: 999;
}

.changeDayPop__backBtn {
  position: absolute;
  padding: 2rem;
  z-index: 1001;
}

.changeDayPop__backBtn:hover {
  cursor: pointer;
}

.changeDayPop__backCircle {
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: -3.8rem;
  top: -4rem;
  background-color: #DB5461;
  border-radius: 50%;
}

.changeDayPop__dayOne {
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 10vw;
  top: 9vh;
  background-color: #DB5461;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.changeDayPop__dayOne:hover {
  cursor: pointer;
  background-color: #df6974;
}

.changeDayPop__dayOne h3 {
  font-weight: bold;
  font-size: 2rem;
  width: 4rem;
  height: 5rem;
  color: #FEF9EF;
}

.changeDayPop__dayTwo {
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 30vw;
  top: 9vh;
  background-color: #DB5461;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.changeDayPop__dayTwo:hover {
  cursor: pointer;
  background-color: #df6974;
}

.changeDayPop__dayTwo h3 {
  font-weight: bold;
  font-size: 2rem;
  width: 4rem;
  height: 5rem;
  color: #FEF9EF;
}

.changeDayPop__dayThree {
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 50vw;
  top: 9vh;
  background-color: #DB5461;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.changeDayPop__dayThree:hover {
  cursor: pointer;
  background-color: #df6974;
}

.changeDayPop__dayThree h3 {
  font-weight: bold;
  font-size: 2rem;
  width: 4rem;
  height: 5rem;
  color: #FEF9EF;
}

.changeDayPop__dayFour {
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 70vw;
  top: 9vh;
  background-color: #DB5461;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.changeDayPop__dayFour:hover {
  cursor: pointer;
  background-color: #df6974;
}

.changeDayPop__dayFour h3 {
  font-weight: bold;
  font-size: 2rem;
  width: 4rem;
  height: 5rem;
  color: #FEF9EF;
}

.changeDayPop__dayFive {
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 10vw;
  top: 35vh;
  background-color: #DB5461;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.changeDayPop__dayFive:hover {
  cursor: pointer;
  background-color: #df6974;
}

.changeDayPop__dayFive h3 {
  font-weight: bold;
  font-size: 2rem;
  width: 4rem;
  height: 5rem;
  color: #FEF9EF;
}

.changeDayPop__note {
  position: absolute;
  right: 5rem;
  bottom: 4rem;
  font-weight: bold;
  font-size: 1.5rem;
  width: 35rem;
}

@media only screen and (max-width: 768px) {
  .chooseRecipe {
    -ms-grid-columns: 10vw 80vw 10vw;
        grid-template-columns: 10vw 80vw 10vw;
    -ms-grid-rows: 15vh 25vh 30vh 30vh;
        grid-template-rows: 15vh 25vh 30vh 30vh;
        grid-template-areas: "day . ." ". mainContent ." " . cardOne ." ". cardTwo .";
  }
  .chooseRecipe__cardOne {
    width: 100%;
  }
  .chooseRecipe__cardOne div {
    margin-top: 0.2rem;
    height: 90%;
    overflow: hidden;
  }
  .chooseRecipe__cardTwo {
    width: 100%;
  }
  .chooseRecipe__cardTwo div {
    margin-top: 0.2rem;
    height: 90%;
    overflow: hidden;
  }
  .chooseRecipe__mainContent {
    margin-top: -1rem;
  }
  .chooseRecipe__title {
    margin: 0;
  }
  .chooseRecipe__fig {
    height: 4rem;
    width: auto;
  }
  .changeDayPop__dayOne {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: 10vw;
    top: 8.5vh;
    background-color: #DB5461;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .changeDayPop__dayOne:hover {
    cursor: pointer;
    background-color: #df6974;
  }
  .changeDayPop__dayOne h3 {
    font-weight: bold;
    font-size: 2rem;
    width: 4rem;
    height: 5rem;
    color: #FEF9EF;
  }
  .changeDayPop__dayTwo {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: 40vw;
    top: 9vh;
    background-color: #DB5461;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .changeDayPop__dayTwo:hover {
    cursor: pointer;
    background-color: #df6974;
  }
  .changeDayPop__dayTwo h3 {
    font-weight: bold;
    font-size: 2rem;
    width: 4rem;
    height: 5rem;
    color: #FEF9EF;
  }
  .changeDayPop__dayThree {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: 70vw;
    top: 9vh;
    background-color: #DB5461;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .changeDayPop__dayThree:hover {
    cursor: pointer;
    background-color: #df6974;
  }
  .changeDayPop__dayThree h3 {
    font-weight: bold;
    font-size: 2rem;
    width: 4rem;
    height: 5rem;
    color: #FEF9EF;
  }
  .changeDayPop__dayFour {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: 10vw;
    top: 25vh;
    background-color: #DB5461;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .changeDayPop__dayFour:hover {
    cursor: pointer;
    background-color: #df6974;
  }
  .changeDayPop__dayFour h3 {
    font-weight: bold;
    font-size: 2rem;
    width: 4rem;
    height: 5rem;
    color: #FEF9EF;
  }
  .changeDayPop__dayFive {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: 40vw;
    top: 25vh;
    background-color: #DB5461;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .changeDayPop__dayFive:hover {
    cursor: pointer;
    background-color: #df6974;
  }
  .changeDayPop__dayFive h3 {
    font-weight: bold;
    font-size: 2rem;
    width: 4rem;
    height: 5rem;
    color: #FEF9EF;
  }
}

@media only screen and (max-width: 600px) {
  .chooseRecipe__nav__signIn {
    font-size: 2rem;
    min-width: 11rem;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: 4.5rem;
  }
  .chooseRecipe__nav__home {
    font-size: 2rem;
    width: 9rem;
    height: 4.5rem;
  }
  .chooseRecipe__cardOne div {
    margin-top: 1rem;
  }
  .chooseRecipe__cardTwo div {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=chooseRecipe.css.map */